.containerIcon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 10px;
  gap: 1rem;
}
.Icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}